.replyForm {
  width: 100%;

  display: flex;
  justify-content: center;

  margin: 20px auto;
}

.replyForm textarea {
  width: 73%;

  border-radius: 10px;

  margin-right: 20px;
  padding: 10px;

  font-size: 20px;

  resize: none;

  overflow: hidden;
}

.replyForm button {
  width: 5%;
  background-color: var(--color-main);
  border: none;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 20px;

  border-radius: 10px;
}
