.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-radius: 0 0 30px 30px;
  background-color: white;
  height: 50px;
  width: 20%;
  min-width: 200px;
  margin: 0 auto;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.Header_hover {
  height: 110px;
  justify-content: space-between;
  width: 100%;
  transition: height 0.3s ease-in, width 0.3s ease-in, opacity 0.3s ease-in;
}

.Header_shrink > img {
  width: 5%;
  max-width: 60px;
}

.Header ul,
img {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.Header_hover ul,
img {
  opacity: 1;
}

.Header > ul {
  display: flex;
}

.header_left {
  width: 20%;
  justify-content: flex-start;
  padding-left: 5px;
  flex-basis: 15%;
}

.header_center {
  flex-basis: 65%;
  width: 70%;
  justify-content: center;
}

.header_right {
  width: 10%;
  justify-content: flex-end;
  position: relative;
}

.header_center > li {
  margin: auto 60px;
}

.header_right > li {
  list-style-type: none;
  font-size: 10px;
  padding: 1px 5px;
  position: relative;
  top: -25px;
}

.header_right_home,
.header_right_AYU {
  border-right: solid 0.5px;
}

.header_left,
.header_center_professorInfo,
.header_center_departmentInfo,
.header_center_lectureRoom,
.header_center_notice,
.header_center_community,
.header_right_home,
.header_right_AYU,
.header_right_Login {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul a,
ul li a {
  text-decoration: none;
  color: inherit;
}

ul li {
  min-width: fit-content;
}
