.community_main {
    width: 80%;
    margin: auto;
    margin-top: 180px;
    padding: 20px;
    position: relative;
}

.community_header {
    font-family: "NanumSquareNeo", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.community_search {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
  
  .category_select, 
  input[type="text"], 
  .search_button {
    padding: 8px;
    font-size: 16px;
  }
  
  .search_button {
    background-color: #1a73e8;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .community_table_section {
    width: 100%;
  }
  
  .community_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .community_table th, .community_table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .community_table thead {
    background-color: #1a1a50;
    color: white;
  }
  
  .community_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  