@import "../communityCommon.module.css";

.post_container {
  display: flex;
  align-items: flex-end;

  width: 100%;
}

.detail_profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: auto;
}

.detail_profileImage {
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.detail_profileImage img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.detail_profile span {
  font-weight: 400;
  font-size: 20px;

  margin-top: 10px;
}

.open_community_detail {
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-left: 60px;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 30px;
  padding: 0 3%;

  background-color: var(--color-main);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.open_community_detail header {
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding-top: 20px;

  font-size: 12px;
  font-weight: 400;
}

.open_community_detail_header_left span {
  margin-right: 20px;
}

.open_community_detail_title {
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 10px 0;

  font-weight: 600;
  font-size: 18px;
}

.community_dibs {
  width: 45px;
  height: 40px;

  background-color: var(--color-main);
  border: none;

  padding: 0;
}

.community_dibs img {
  width: 100%;
  height: 100%;

  margin-left: 12px;
}

.community_dibs:hover {
  cursor: pointer;
}

.post_content {
  width: 95%;
  padding: 30px 0;

  font-size: 17px;
  font-weight: 400;
  line-height: 27px;

  white-space: pre-wrap; /* 줄바꿈 유지 및 자동 개행 */
  overflow-wrap: break-word;
}

.open_community_detail footer {
  width: 100%;

  display: flex;
  justify-content: flex-end;

  font-weight: 600;
  margin: 20px 0;
}

.open_community_detail footer a {
  margin-right: 70px;
  cursor: pointer;
}

.hr {
  width: 95%;
  height: 1px;

  margin: 60px 0;

  background-color: black;
}
