.lectureRoomInfo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    background-color: rgb(70, 85, 110);
  }
  
  
  .lectureRoomInfo .lectureName {
    flex: 1;
  }