@import ".././studentService.module.css";

.studyroomBody {
    display: flex;
    margin-top: 50px;
    width: 83%;
}

.studyroom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px 0px;
    width: 95%;
    margin: 0 auto;
}


.selfStudyRoom {
    display: flex;
}